
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="bio-card">
       <div class="bio-image" style="background-image:url('<%= image_path @retailer.profile_picture %>');"></div>
       <h2>
        <%=@retailer.first_name %> <%= @retailer.last_name %>
      </h2>
      <ul>
        <li>
         <span> email:</span> <%= @retailer.email %>
       </li>
       <li>
        <span>city:</span> <%= @retailer.city %>
      </li>
      <li>
        <span>age:</span> <%= @retailer.age %>
      </li>
      <li>
        <span>About me:</span> <%= @retailer.detail %>
      </li>
    </ul>
  </div>
</div>

<div class="col-md-8">
  <h1>Store Wishlist for <%= @retailer.store_collection.season %> <%= @retailer.store_collection.year %> </h1>
  <div class="row">
    <div class="products">
      <% @retailer.store_collection.store_products.each do |store_product| %>
        <div class="col-xs-12">
          <div class="product-card">
            <div class="product-image">
              <%= image_tag store_product.product.picture_1, height: 200, width: 200, crop: :fill %>
            </div>
            <div class="product-details">
              <p><%= store_product.product.name %></p>
              <p><%= store_product.product.detail %></p>
            </div>
            <div class="product-details">
              <p>price</p>
              <p></p>
            </div>
            <div class="product-details">
              <p>form for ordering</p>
              <p></p>
            </div>
            <div class="product-details">
              <p>Total price</p>
              <p></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
