<div class="container all-btn">
  <%= link_to "Designers", designers_path, class: "btn btn-space-station"%>
</div>


<div class="container">
  <div class="designer-wishlist-table">
    <h2 class="text-center">
      Store Wishlist for <%= @retailer.store_collection.season %> <%= @retailer.store_collection.year %>
    </h2>
    <div class="designer-wishlist-table">
      <% @store_products_grouped_by_designer.each do |designer, store_products| %>
      <div class="row">
        <h3><%= designer.brand %></h3>

        <table>
          <thead>
            <tr>
              <th>

              </th>
              <th>
                name
              </th>
              <th>
                Detail
              </th>
              <th>
                Price
              </th>
              <th>
                QTY
              </th>
              <th>
                Total
              </th>
              <th>
              </th>
            </tr>
          </thead>

          <tbody>
            <% store_products.each do |store_product| %>
            <form class="js-quantity-form" data-product-price="<%= store_product.product.price %>" data-product-id="<%= store_product.product.id %>">

              <tr data-target="<%= store_product.product.id %>">
                <td id= "prod-thumb">
                  <%= image_tag store_product.product.picture_1, height: 100, width: 100, crop: :fill %>
                </td>
                <td id= "prod-name">
                  <p><%= store_product.product.name %></p>
                </td>
                <td>
                  <p><%= store_product.product.detail %></p>
                </td>
                <td>
                  $ <span id="<%= store_product.product.id %>-price">
                    <%= store_product.product.price %>
                  </span>
                </td>
                <td>
                  <div class="form-group">
                  <label for="js-product-quantity-<%= store_product.product.id %>">Quantity</label>
                  <input id="js-product-quantity-<%= store_product.product.id %>" type="number" class="price-input form-control" data-target="<%= store_product.product.id %>">
                  </div>
                </td>
                <td>
                  $ <span id="<%= store_product.product.id %>-total" class="row-total"> </span>
                </td>
                <td>
                  <input type="submit" value="Add to purchase order" class="btn-space-station">
                </td>
              </tr>
            </form>
          </div>
        </div>
        <!-- <h3 sclass="<%= store_product.product.id %>-accumulative-total-brand">...</h3> -->
        <% end %>
      </tbody>
    </table>
  </div>
  <% end %>
  <h2 class="text-center">
    Total:
    $
    <span id="accumulative-total">

    </span>
  </h2>
  </div>
</div>


</div>









