<!-- Info about designer -->
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="bio-card">
       <div class="bio-image" style="background-image:url('<%= image_path @designer.profile_picture %>');"></div>
       <h2>
        <%=@designer.first_name %> <%= @designer.last_name %>
      </h2>
      <ul>
        <li>
         <span> email:</span> <%= @designer.email %>
       </li>
       <li>
        <span>city:</span> <%= @designer.city %>
      </li>
      <li>
        <span>age:</span> <%= @designer.age %>
      </li>
      <li>
        <span>About me:</span> <%= @designer.detail %>
      </li>
    </ul>
    <a href="#" class="btn-treehouse">Contact</a>
  </div>
</div>

<!-- Looks and Products of designer -->
<div class="col-md-8">
  <h1>Current collection: </h1>
  <div class="product-card">
    <ul>
      <li>
        product: <% @designer.products.each do |product| %>
      </li>
      <li>
        Name: <%= product.name %>
      </li>
      <li>
        Detail: <%= product.detail %>
      </li>
      <li>
        Color: <%= product.color %>
      </li>
      <li>
        Sizes: <%= product.sizes %>
      </li>
      <li>
        <%= image_tag product.picture_1, height: 200, width: 200, crop: :fill %> <br>
      </li>
      <!-- <a href="#" class="btn-treehouse">Look at product</a> -->

      <% end %>
    </ul>
  </div>

</div>



<!-- <div class="main-container"> (diplay"flex)
  <div class="sidebar"> width=43242 -->



  </div>
  <div class="card-container">
    <div class="row">

      </div>
      <div class="col-md-6">

      </div>

    </div>


  </div>
</div>

