
<!-- Info about designer -->
<div class="container">
  <div class="row">
    <div class="col-md-6">

<%= image_tag @designer.profile_picture, height: 300, width: 400, crop: :fill %> <br>
<h1><%=@designer.first_name %> <%= @designer.last_name %> </h1>

email: <%= @designer.email %> <br>
city: <%= @designer.city %> <br>
age: <%= @designer.age %> <br>
About me: <%= @designer.detail %> <br>


    </div>
  </div>
</div>












<!-- Looks and Products of designer -->
<div class="container">
  <div class="row">
    <div class="col-md-6">




    </div>
  </div>
</div>
