<div class="container">
  <div class="product-header">
    <%= image_tag @product.designer.profile_picture, width: 300, crop: :fill %> <br>
    <h1 class="text-center"><%= @product.designer.brand%></h1>
    <h2> <%= @product.name %> </h2>

    collection: <%= @product.collection.detail %>
    sizes: <%= @product.sizes %> <br>
    color: <%= @product.color %> <br>
    detail: <%= @product.detail %> <br>
    <br>
  </div>
  <div class = "row">
    <div class="col-xs-3">
      <div class="product-image" style="background-image:url('<%= image_path @product.picture_1 %>');"></div>
    </div>
    <div class="col-xs-3">
      <div class="product-image" style="background-image:url('<%= image_path @product.picture_2 %>');"></div>
    </div>
    <div class="col-xs-3">
      <div class="product-image" style="background-image:url('<%= image_path @product.picture_3 %>');"></div>
    </div>
    <div class="col-xs-3">
      <div class="product-image" style="background-image:url('<%= image_path @product.picture_4 %>');"></div>
    </div>
  </div>

  <br>
  <%= link_to "Add to Collection", store_collection_store_products_path(product_id: @product.id), method: :post, class: "btn-treehouse"%>
  <br>
</div>


