<div class="container padded-container">
  <div class="row">
    <div class="col-xs-6">
      <div id="highlight" class="product-highlight-picture" style="background-image:url('<%= image_path @product.picture_1 %>');">

      </div>
    </div>
    <div class="col-xs-6">
      <div class="product-header">
        <%= render partial: 'product_information', locals: { product: @product} %>
      </div>
      <div class="row">
        <%= render partial: "product_pictures", locals: { product: @product } %>
      </div>
    </div>
  </div>
</div>


<%= simple_form_for @product, url: designer_product_path(@product) do |f| %>
  <%= f.input :photos, as: :attachinary %>
<% end %>


<% urls = [] %>
<% if @product.photos? %>
<% @product.photos.each do |photo| %>
<% urls << photo.path %>
<%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
<% end %>
<% end %>







